<template>
  <div id="app">
    <div>
      <h1>{{ msg }}</h1>
      <p class="hot">hot: <span class="num">{{ hot | round(3, true)}}</span></p>
      <p class="cold">cold: <span class="num">{{ cold | round(3, true) }}</span></p>
    </div>
    <div class="chart-container"><chart></chart></div>  
  </div>
</template>

<script>
  import waterMeterStore from "./stores/WaterMeter/index.js"
  import chartComponent from "./components/chart"

export default {
  name: 'app',
  data () {
    return {
      msg: 'Water Meter'
    }
  },
  computed: {
    hot: () => waterMeterStore.getters.getHotWater,
    cold: () => waterMeterStore.getters.getColdWater
    },
  mounted() {
        waterMeterStore.dispatch("init");
        setInterval(() => {
          waterMeterStore.dispatch("getSensorData");
        }, 5000);
    },
    components: {
      'chart': chartComponent
    }
}
</script>

<style lang="scss">
#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

.hot {
  color: red;
  font-size: 18px;
}

.cold {
   color: darkblue;
   font-size: 18px;
}

.num {
    font-size: 45px;
}

  .chart-container {
    max-width: 1200px;
    max-height: 600px;
    margin: 25px auto;
    background: #212733;
    border-radius: 15px;
    box-shadow: 0px 2px 15px rgba(25, 25, 25, 0.27);
  }
</style>
